@import 'tailwindcss';

@theme {
  --font-symbol: 'Hyllian-Symbol', 'sans-serif';
  --font-hyllian: 'Hyllian-Style', 'sans-serif';
  --color-zelda-dark: #1d1821;
  --color-zelda-brown: #433431;
  --color-zelda-rock: #f2deab;
  --color-zelda-sand: #e9e1d1;
  --color-zelda-water: #008dfa;
  --color-zelda-relic: #d40ef7;
  --color-zelda-red: #ff4139;
  --color-zelda-sky: #59dbfe;
  --color-zelda-hill: #12a745;
  --color-zelda-purple: #121424;
}

.gradient-border {
  border-image: linear-gradient(to right, transparent, #ffd700, transparent) 1;
}
